<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiPrimeraApp">

        <!--Cada pantalla de la aplicacion -->
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!--Entrada principal para iniciar la app-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Servicio-->
        <service android:name=".MiServicio"
            android:exported="false"/>
        <!--BroadcastReceiver, que reacciona a eventos del sistema, como cambios en la conexión WiFi.-->
        <receiver android:name=".ConexionWifi" android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    />
            </intent-filter>
        </receiver>

    </application>
    <!--Permiso para entrar al estado de red-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>